[submodule "boringssl"]
	path = boringssl
	url = git@github.com:google/boringssl.git

[submodule "pyca.cryptography"]
	path = pyca-cryptography
	url = git@github.com:pyca/cryptography.git

[submodule "krb5"]
	path = krb5
	url = git@github.com:krb5/krb5.git
